body{
  background: linear-gradient(77deg, #34d0a8, #3288db, #db1fc3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes AnimationName {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
  }

.container{
  width: 90%;
  margin: 0 auto;
}

.input{
  width: 30%;
  align-content: center;
  margin: 0 auto;
}

input{
  border-radius: 30px;
  outline: none;
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  font-family: monospace;
}
.button{
  margin: 0 auto;
  text-align: center;
}
button{
  font-size: 15px;
  border:2px white solid;
  border-radius: 20px;
  margin-top: 30px;
  padding: 7px;
  margin-bottom: 50px;
  background-color: transparent;
  color: white;
}
button:hover{
  transform: scale(1.1);
  transition: all 0.4s;
  background: white;
  color: black;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: black;
}
a:visited{
  color: currentColor;
}

li{
  list-style: none;
  line-height: 60px;
  border: 2px white solid;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin: 10px 10px;
  float: left;
  width: 29%;
  text-align: center;
  color: white;
}
li:hover{
  background: white;
  transition: all 0.5s;
  transition: all 0.3s;
  transform: scale(1.1);
  font-weight: bold;
  color:black;

}
.center{
  margin: 0 auto;
}

.hidden {
  display: none;
}

.bigtext{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.home {
    position: fixed;
    bottom: 0;
    width: 100%;
}
i {
  color: white;
}
